prj_grupo3_cliente/src/conf/xml-resources/web-service-references/servicio_web_servidor/wsdl/localhost_8080/prj_grupo3_server/servicio_web_servidor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios.prj_grupo3_server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios.prj_grupo3_server/" name="servicio_web_servidor">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios.prj_grupo3_server/" schemaLocation="http://localhost:8080/prj_grupo3_server/servicio_web_servidor?xsd=1"/>
</xsd:schema>
</types>
<message name="actualizarCiudadS">
<part name="parameters" element="tns:actualizarCiudadS"/>
</message>
<message name="actualizarCiudadSResponse">
<part name="parameters" element="tns:actualizarCiudadSResponse"/>
</message>
<message name="actualizarClienteS">
<part name="parameters" element="tns:actualizarClienteS"/>
</message>
<message name="actualizarClienteSResponse">
<part name="parameters" element="tns:actualizarClienteSResponse"/>
</message>
<message name="buscarClienteS">
<part name="parameters" element="tns:buscarClienteS"/>
</message>
<message name="buscarClienteSResponse">
<part name="parameters" element="tns:buscarClienteSResponse"/>
</message>
<message name="buscarCiudadS">
<part name="parameters" element="tns:buscarCiudadS"/>
</message>
<message name="buscarCiudadSResponse">
<part name="parameters" element="tns:buscarCiudadSResponse"/>
</message>
<message name="insertarClienteS">
<part name="parameters" element="tns:insertarClienteS"/>
</message>
<message name="insertarClienteSResponse">
<part name="parameters" element="tns:insertarClienteSResponse"/>
</message>
<message name="eliminarClienteS">
<part name="parameters" element="tns:eliminarClienteS"/>
</message>
<message name="eliminarClienteSResponse">
<part name="parameters" element="tns:eliminarClienteSResponse"/>
</message>
<message name="insertarCiudadS">
<part name="parameters" element="tns:insertarCiudadS"/>
</message>
<message name="insertarCiudadSResponse">
<part name="parameters" element="tns:insertarCiudadSResponse"/>
</message>
<message name="eliminarCiudadS">
<part name="parameters" element="tns:eliminarCiudadS"/>
</message>
<message name="eliminarCiudadSResponse">
<part name="parameters" element="tns:eliminarCiudadSResponse"/>
</message>
<message name="listarClienteS">
<part name="parameters" element="tns:listarClienteS"/>
</message>
<message name="listarClienteSResponse">
<part name="parameters" element="tns:listarClienteSResponse"/>
</message>
<message name="listarCiudadS">
<part name="parameters" element="tns:listarCiudadS"/>
</message>
<message name="listarCiudadSResponse">
<part name="parameters" element="tns:listarCiudadSResponse"/>
</message>
<portType name="ServicioServer">
<operation name="actualizarCiudadS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarCiudadSRequest" message="tns:actualizarCiudadS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarCiudadSResponse" message="tns:actualizarCiudadSResponse"/>
</operation>
<operation name="actualizarClienteS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarClienteSRequest" message="tns:actualizarClienteS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarClienteSResponse" message="tns:actualizarClienteSResponse"/>
</operation>
<operation name="buscarClienteS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarClienteSRequest" message="tns:buscarClienteS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarClienteSResponse" message="tns:buscarClienteSResponse"/>
</operation>
<operation name="buscarCiudadS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarCiudadSRequest" message="tns:buscarCiudadS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarCiudadSResponse" message="tns:buscarCiudadSResponse"/>
</operation>
<operation name="insertarClienteS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarClienteSRequest" message="tns:insertarClienteS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarClienteSResponse" message="tns:insertarClienteSResponse"/>
</operation>
<operation name="eliminarClienteS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarClienteSRequest" message="tns:eliminarClienteS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarClienteSResponse" message="tns:eliminarClienteSResponse"/>
</operation>
<operation name="insertarCiudadS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarCiudadSRequest" message="tns:insertarCiudadS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarCiudadSResponse" message="tns:insertarCiudadSResponse"/>
</operation>
<operation name="eliminarCiudadS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarCiudadSRequest" message="tns:eliminarCiudadS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarCiudadSResponse" message="tns:eliminarCiudadSResponse"/>
</operation>
<operation name="listarClienteS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarClienteSRequest" message="tns:listarClienteS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarClienteSResponse" message="tns:listarClienteSResponse"/>
</operation>
<operation name="listarCiudadS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarCiudadSRequest" message="tns:listarCiudadS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarCiudadSResponse" message="tns:listarCiudadSResponse"/>
</operation>
</portType>
<binding name="ServicioServerPortBinding" type="tns:ServicioServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="actualizarCiudadS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarClienteS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarClienteS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCiudadS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarClienteS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarClienteS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarCiudadS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCiudadS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarClienteS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCiudadS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servicio_web_servidor">
<port name="ServicioServerPort" binding="tns:ServicioServerPortBinding">
<soap:address location="http://localhost:8080/prj_grupo3_server/servicio_web_servidor"/>
</port>
</service>
</definitions>