prj_grupo3_cliente/src/conf/xml-resources/web-service-references/servicio_web_servidor/wsdl/localhost_8080/prj_grupo3_server/servicio_web_servidor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios.prj_grupo3_server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios.prj_grupo3_server/" name="servicio_web_servidor">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios.prj_grupo3_server/" schemaLocation="http://localhost:8080/prj_grupo3_server/servicio_web_servidor?xsd=1"/>
</xsd:schema>
</types>
<message name="agregarPagaS">
<part name="parameters" element="tns:agregarPagaS"/>
</message>
<message name="agregarPagaSResponse">
<part name="parameters" element="tns:agregarPagaSResponse"/>
</message>
<message name="buscarFacturaS">
<part name="parameters" element="tns:buscarFacturaS"/>
</message>
<message name="buscarFacturaSResponse">
<part name="parameters" element="tns:buscarFacturaSResponse"/>
</message>
<message name="buscarCiudadS">
<part name="parameters" element="tns:buscarCiudadS"/>
</message>
<message name="buscarCiudadSResponse">
<part name="parameters" element="tns:buscarCiudadSResponse"/>
</message>
<message name="loginS">
<part name="parameters" element="tns:loginS"/>
</message>
<message name="loginSResponse">
<part name="parameters" element="tns:loginSResponse"/>
</message>
<message name="listarFacturasS">
<part name="parameters" element="tns:listarFacturasS"/>
</message>
<message name="listarFacturasSResponse">
<part name="parameters" element="tns:listarFacturasSResponse"/>
</message>
<message name="insertarCiudadS">
<part name="parameters" element="tns:insertarCiudadS"/>
</message>
<message name="insertarCiudadSResponse">
<part name="parameters" element="tns:insertarCiudadSResponse"/>
</message>
<message name="buscarFormaPagoS">
<part name="parameters" element="tns:buscarFormaPagoS"/>
</message>
<message name="buscarFormaPagoSResponse">
<part name="parameters" element="tns:buscarFormaPagoSResponse"/>
</message>
<message name="listarCobradorS">
<part name="parameters" element="tns:listarCobradorS"/>
</message>
<message name="listarCobradorSResponse">
<part name="parameters" element="tns:listarCobradorSResponse"/>
</message>
<message name="buscarArticuloS">
<part name="parameters" element="tns:buscarArticuloS"/>
</message>
<message name="buscarArticuloSResponse">
<part name="parameters" element="tns:buscarArticuloSResponse"/>
</message>
<message name="agregarProductoS">
<part name="parameters" element="tns:agregarProductoS"/>
</message>
<message name="agregarProductoSResponse">
<part name="parameters" element="tns:agregarProductoSResponse"/>
</message>
<message name="eliminarClienteS">
<part name="parameters" element="tns:eliminarClienteS"/>
</message>
<message name="eliminarClienteSResponse">
<part name="parameters" element="tns:eliminarClienteSResponse"/>
</message>
<message name="crearUsuarioS">
<part name="parameters" element="tns:crearUsuarioS"/>
</message>
<message name="crearUsuarioSResponse">
<part name="parameters" element="tns:crearUsuarioSResponse"/>
</message>
<message name="eliminarCiudadS">
<part name="parameters" element="tns:eliminarCiudadS"/>
</message>
<message name="eliminarCiudadSResponse">
<part name="parameters" element="tns:eliminarCiudadSResponse"/>
</message>
<message name="listarFormaPagoS">
<part name="parameters" element="tns:listarFormaPagoS"/>
</message>
<message name="listarFormaPagoSResponse">
<part name="parameters" element="tns:listarFormaPagoSResponse"/>
</message>
<message name="buscarArticuloSN">
<part name="parameters" element="tns:buscarArticuloSN"/>
</message>
<message name="buscarArticuloSNResponse">
<part name="parameters" element="tns:buscarArticuloSNResponse"/>
</message>
<message name="crearFacturaS">
<part name="parameters" element="tns:crearFacturaS"/>
</message>
<message name="crearFacturaSResponse">
<part name="parameters" element="tns:crearFacturaSResponse"/>
</message>
<message name="listarClienteS">
<part name="parameters" element="tns:listarClienteS"/>
</message>
<message name="listarClienteSResponse">
<part name="parameters" element="tns:listarClienteSResponse"/>
</message>
<message name="listarArticuloS">
<part name="parameters" element="tns:listarArticuloS"/>
</message>
<message name="listarArticuloSResponse">
<part name="parameters" element="tns:listarArticuloSResponse"/>
</message>
<message name="listarCiudadS">
<part name="parameters" element="tns:listarCiudadS"/>
</message>
<message name="listarCiudadSResponse">
<part name="parameters" element="tns:listarCiudadSResponse"/>
</message>
<message name="buscarCobradorS">
<part name="parameters" element="tns:buscarCobradorS"/>
</message>
<message name="buscarCobradorSResponse">
<part name="parameters" element="tns:buscarCobradorSResponse"/>
</message>
<message name="SingIn">
<part name="parameters" element="tns:SingIn"/>
</message>
<message name="SingInResponse">
<part name="parameters" element="tns:SingInResponse"/>
</message>
<message name="buscarClienteS">
<part name="parameters" element="tns:buscarClienteS"/>
</message>
<message name="buscarClienteSResponse">
<part name="parameters" element="tns:buscarClienteSResponse"/>
</message>
<message name="insertarClienteS">
<part name="parameters" element="tns:insertarClienteS"/>
</message>
<message name="insertarClienteSResponse">
<part name="parameters" element="tns:insertarClienteSResponse"/>
</message>
<message name="crearDetalleFacturaS">
<part name="parameters" element="tns:crearDetalleFacturaS"/>
</message>
<message name="crearDetalleFacturaSResponse">
<part name="parameters" element="tns:crearDetalleFacturaSResponse"/>
</message>
<message name="eliminarDetalleFacturaS">
<part name="parameters" element="tns:eliminarDetalleFacturaS"/>
</message>
<message name="eliminarDetalleFacturaSResponse">
<part name="parameters" element="tns:eliminarDetalleFacturaSResponse"/>
</message>
<message name="buscarCabeceraFacturaPorRucS">
<part name="parameters" element="tns:buscarCabeceraFacturaPorRucS"/>
</message>
<message name="buscarCabeceraFacturaPorRucSResponse">
<part name="parameters" element="tns:buscarCabeceraFacturaPorRucSResponse"/>
</message>
<message name="crearDetalleFacturacxcS">
<part name="parameters" element="tns:crearDetalleFacturacxcS"/>
</message>
<message name="crearDetalleFacturacxcSResponse">
<part name="parameters" element="tns:crearDetalleFacturacxcSResponse"/>
</message>
<message name="buscarDetalleFacturacxcS">
<part name="parameters" element="tns:buscarDetalleFacturacxcS"/>
</message>
<message name="buscarDetalleFacturacxcSResponse">
<part name="parameters" element="tns:buscarDetalleFacturacxcSResponse"/>
</message>
<message name="actualizarCiudadS">
<part name="parameters" element="tns:actualizarCiudadS"/>
</message>
<message name="actualizarCiudadSResponse">
<part name="parameters" element="tns:actualizarCiudadSResponse"/>
</message>
<message name="buscarDetalleFacturaS">
<part name="parameters" element="tns:buscarDetalleFacturaS"/>
</message>
<message name="buscarDetalleFacturaSResponse">
<part name="parameters" element="tns:buscarDetalleFacturaSResponse"/>
</message>
<message name="actualizarMovimientoS">
<part name="parameters" element="tns:actualizarMovimientoS"/>
</message>
<message name="actualizarMovimientoSResponse">
<part name="parameters" element="tns:actualizarMovimientoSResponse"/>
</message>
<message name="buscarMovimientoSN">
<part name="parameters" element="tns:buscarMovimientoSN"/>
</message>
<message name="buscarMovimientoSNResponse">
<part name="parameters" element="tns:buscarMovimientoSNResponse"/>
</message>
<message name="eliminarArticuloS">
<part name="parameters" element="tns:eliminarArticuloS"/>
</message>
<message name="eliminarArticuloSResponse">
<part name="parameters" element="tns:eliminarArticuloSResponse"/>
</message>
<message name="eliminarMovimientoS">
<part name="parameters" element="tns:eliminarMovimientoS"/>
</message>
<message name="eliminarMovimientoSResponse">
<part name="parameters" element="tns:eliminarMovimientoSResponse"/>
</message>
<message name="listarMovimientoS">
<part name="parameters" element="tns:listarMovimientoS"/>
</message>
<message name="listarMovimientoSResponse">
<part name="parameters" element="tns:listarMovimientoSResponse"/>
</message>
<message name="buscarMovimientoS">
<part name="parameters" element="tns:buscarMovimientoS"/>
</message>
<message name="buscarMovimientoSResponse">
<part name="parameters" element="tns:buscarMovimientoSResponse"/>
</message>
<message name="buscarCabeceraFacturaS">
<part name="parameters" element="tns:buscarCabeceraFacturaS"/>
</message>
<message name="buscarCabeceraFacturaSResponse">
<part name="parameters" element="tns:buscarCabeceraFacturaSResponse"/>
</message>
<message name="actualizarClienteS">
<part name="parameters" element="tns:actualizarClienteS"/>
</message>
<message name="actualizarClienteSResponse">
<part name="parameters" element="tns:actualizarClienteSResponse"/>
</message>
<message name="crearCabeceraFacturaS">
<part name="parameters" element="tns:crearCabeceraFacturaS"/>
</message>
<message name="crearCabeceraFacturaSResponse">
<part name="parameters" element="tns:crearCabeceraFacturaSResponse"/>
</message>
<message name="eliminarFormaPagoS">
<part name="parameters" element="tns:eliminarFormaPagoS"/>
</message>
<message name="eliminarFormaPagoSResponse">
<part name="parameters" element="tns:eliminarFormaPagoSResponse"/>
</message>
<message name="insertarArticuloS">
<part name="parameters" element="tns:insertarArticuloS"/>
</message>
<message name="insertarArticuloSResponse">
<part name="parameters" element="tns:insertarArticuloSResponse"/>
</message>
<message name="insertarCobradorS">
<part name="parameters" element="tns:insertarCobradorS"/>
</message>
<message name="insertarCobradorSResponse">
<part name="parameters" element="tns:insertarCobradorSResponse"/>
</message>
<message name="actualizarFormaPagoS">
<part name="parameters" element="tns:actualizarFormaPagoS"/>
</message>
<message name="actualizarFormaPagoSResponse">
<part name="parameters" element="tns:actualizarFormaPagoSResponse"/>
</message>
<message name="eliminarCabeceraFacturaS">
<part name="parameters" element="tns:eliminarCabeceraFacturaS"/>
</message>
<message name="eliminarCabeceraFacturaSResponse">
<part name="parameters" element="tns:eliminarCabeceraFacturaSResponse"/>
</message>
<message name="actualizarCobradorS">
<part name="parameters" element="tns:actualizarCobradorS"/>
</message>
<message name="actualizarCobradorSResponse">
<part name="parameters" element="tns:actualizarCobradorSResponse"/>
</message>
<message name="eliminarDetalleFacturacxcS">
<part name="parameters" element="tns:eliminarDetalleFacturacxcS"/>
</message>
<message name="eliminarDetalleFacturacxcSResponse">
<part name="parameters" element="tns:eliminarDetalleFacturacxcSResponse"/>
</message>
<message name="actualizarCabeceraFacturaS">
<part name="parameters" element="tns:actualizarCabeceraFacturaS"/>
</message>
<message name="actualizarCabeceraFacturaSResponse">
<part name="parameters" element="tns:actualizarCabeceraFacturaSResponse"/>
</message>
<message name="actualizarArticuloS">
<part name="parameters" element="tns:actualizarArticuloS"/>
</message>
<message name="actualizarArticuloSResponse">
<part name="parameters" element="tns:actualizarArticuloSResponse"/>
</message>
<message name="insertarFormaPagoS">
<part name="parameters" element="tns:insertarFormaPagoS"/>
</message>
<message name="insertarFormaPagoSResponse">
<part name="parameters" element="tns:insertarFormaPagoSResponse"/>
</message>
<message name="eliminarCobradorS">
<part name="parameters" element="tns:eliminarCobradorS"/>
</message>
<message name="eliminarCobradorSResponse">
<part name="parameters" element="tns:eliminarCobradorSResponse"/>
</message>
<message name="insertarMovimientoS">
<part name="parameters" element="tns:insertarMovimientoS"/>
</message>
<message name="insertarMovimientoSResponse">
<part name="parameters" element="tns:insertarMovimientoSResponse"/>
</message>
<portType name="ServicioServer">
<operation name="agregarPagaS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/agregarPagaSRequest" message="tns:agregarPagaS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/agregarPagaSResponse" message="tns:agregarPagaSResponse"/>
</operation>
<operation name="buscarFacturaS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarFacturaSRequest" message="tns:buscarFacturaS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarFacturaSResponse" message="tns:buscarFacturaSResponse"/>
</operation>
<operation name="buscarCiudadS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarCiudadSRequest" message="tns:buscarCiudadS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarCiudadSResponse" message="tns:buscarCiudadSResponse"/>
</operation>
<operation name="loginS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/loginSRequest" message="tns:loginS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/loginSResponse" message="tns:loginSResponse"/>
</operation>
<operation name="listarFacturasS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarFacturasSRequest" message="tns:listarFacturasS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarFacturasSResponse" message="tns:listarFacturasSResponse"/>
</operation>
<operation name="insertarCiudadS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarCiudadSRequest" message="tns:insertarCiudadS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarCiudadSResponse" message="tns:insertarCiudadSResponse"/>
</operation>
<operation name="buscarFormaPagoS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarFormaPagoSRequest" message="tns:buscarFormaPagoS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarFormaPagoSResponse" message="tns:buscarFormaPagoSResponse"/>
</operation>
<operation name="listarCobradorS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarCobradorSRequest" message="tns:listarCobradorS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarCobradorSResponse" message="tns:listarCobradorSResponse"/>
</operation>
<operation name="buscarArticuloS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarArticuloSRequest" message="tns:buscarArticuloS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarArticuloSResponse" message="tns:buscarArticuloSResponse"/>
</operation>
<operation name="agregarProductoS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/agregarProductoSRequest" message="tns:agregarProductoS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/agregarProductoSResponse" message="tns:agregarProductoSResponse"/>
</operation>
<operation name="eliminarClienteS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarClienteSRequest" message="tns:eliminarClienteS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarClienteSResponse" message="tns:eliminarClienteSResponse"/>
</operation>
<operation name="crearUsuarioS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/crearUsuarioSRequest" message="tns:crearUsuarioS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/crearUsuarioSResponse" message="tns:crearUsuarioSResponse"/>
</operation>
<operation name="eliminarCiudadS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarCiudadSRequest" message="tns:eliminarCiudadS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarCiudadSResponse" message="tns:eliminarCiudadSResponse"/>
</operation>
<operation name="listarFormaPagoS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarFormaPagoSRequest" message="tns:listarFormaPagoS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarFormaPagoSResponse" message="tns:listarFormaPagoSResponse"/>
</operation>
<operation name="buscarArticuloSN">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarArticuloSNRequest" message="tns:buscarArticuloSN"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarArticuloSNResponse" message="tns:buscarArticuloSNResponse"/>
</operation>
<operation name="crearFacturaS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/crearFacturaSRequest" message="tns:crearFacturaS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/crearFacturaSResponse" message="tns:crearFacturaSResponse"/>
</operation>
<operation name="listarClienteS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarClienteSRequest" message="tns:listarClienteS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarClienteSResponse" message="tns:listarClienteSResponse"/>
</operation>
<operation name="listarArticuloS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarArticuloSRequest" message="tns:listarArticuloS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarArticuloSResponse" message="tns:listarArticuloSResponse"/>
</operation>
<operation name="listarCiudadS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarCiudadSRequest" message="tns:listarCiudadS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarCiudadSResponse" message="tns:listarCiudadSResponse"/>
</operation>
<operation name="buscarCobradorS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarCobradorSRequest" message="tns:buscarCobradorS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarCobradorSResponse" message="tns:buscarCobradorSResponse"/>
</operation>
<operation name="SingIn">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/SingInRequest" message="tns:SingIn"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/SingInResponse" message="tns:SingInResponse"/>
</operation>
<operation name="buscarClienteS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarClienteSRequest" message="tns:buscarClienteS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarClienteSResponse" message="tns:buscarClienteSResponse"/>
</operation>
<operation name="insertarClienteS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarClienteSRequest" message="tns:insertarClienteS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarClienteSResponse" message="tns:insertarClienteSResponse"/>
</operation>
<operation name="crearDetalleFacturaS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/crearDetalleFacturaSRequest" message="tns:crearDetalleFacturaS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/crearDetalleFacturaSResponse" message="tns:crearDetalleFacturaSResponse"/>
</operation>
<operation name="eliminarDetalleFacturaS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarDetalleFacturaSRequest" message="tns:eliminarDetalleFacturaS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarDetalleFacturaSResponse" message="tns:eliminarDetalleFacturaSResponse"/>
</operation>
<operation name="buscarCabeceraFacturaPorRucS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarCabeceraFacturaPorRucSRequest" message="tns:buscarCabeceraFacturaPorRucS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarCabeceraFacturaPorRucSResponse" message="tns:buscarCabeceraFacturaPorRucSResponse"/>
</operation>
<operation name="crearDetalleFacturacxcS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/crearDetalleFacturacxcSRequest" message="tns:crearDetalleFacturacxcS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/crearDetalleFacturacxcSResponse" message="tns:crearDetalleFacturacxcSResponse"/>
</operation>
<operation name="buscarDetalleFacturacxcS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarDetalleFacturacxcSRequest" message="tns:buscarDetalleFacturacxcS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarDetalleFacturacxcSResponse" message="tns:buscarDetalleFacturacxcSResponse"/>
</operation>
<operation name="actualizarCiudadS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarCiudadSRequest" message="tns:actualizarCiudadS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarCiudadSResponse" message="tns:actualizarCiudadSResponse"/>
</operation>
<operation name="buscarDetalleFacturaS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarDetalleFacturaSRequest" message="tns:buscarDetalleFacturaS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarDetalleFacturaSResponse" message="tns:buscarDetalleFacturaSResponse"/>
</operation>
<operation name="actualizarMovimientoS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarMovimientoSRequest" message="tns:actualizarMovimientoS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarMovimientoSResponse" message="tns:actualizarMovimientoSResponse"/>
</operation>
<operation name="buscarMovimientoSN">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarMovimientoSNRequest" message="tns:buscarMovimientoSN"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarMovimientoSNResponse" message="tns:buscarMovimientoSNResponse"/>
</operation>
<operation name="eliminarArticuloS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarArticuloSRequest" message="tns:eliminarArticuloS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarArticuloSResponse" message="tns:eliminarArticuloSResponse"/>
</operation>
<operation name="eliminarMovimientoS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarMovimientoSRequest" message="tns:eliminarMovimientoS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarMovimientoSResponse" message="tns:eliminarMovimientoSResponse"/>
</operation>
<operation name="listarMovimientoS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarMovimientoSRequest" message="tns:listarMovimientoS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/listarMovimientoSResponse" message="tns:listarMovimientoSResponse"/>
</operation>
<operation name="buscarMovimientoS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarMovimientoSRequest" message="tns:buscarMovimientoS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarMovimientoSResponse" message="tns:buscarMovimientoSResponse"/>
</operation>
<operation name="buscarCabeceraFacturaS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarCabeceraFacturaSRequest" message="tns:buscarCabeceraFacturaS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/buscarCabeceraFacturaSResponse" message="tns:buscarCabeceraFacturaSResponse"/>
</operation>
<operation name="actualizarClienteS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarClienteSRequest" message="tns:actualizarClienteS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarClienteSResponse" message="tns:actualizarClienteSResponse"/>
</operation>
<operation name="crearCabeceraFacturaS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/crearCabeceraFacturaSRequest" message="tns:crearCabeceraFacturaS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/crearCabeceraFacturaSResponse" message="tns:crearCabeceraFacturaSResponse"/>
</operation>
<operation name="eliminarFormaPagoS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarFormaPagoSRequest" message="tns:eliminarFormaPagoS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarFormaPagoSResponse" message="tns:eliminarFormaPagoSResponse"/>
</operation>
<operation name="insertarArticuloS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarArticuloSRequest" message="tns:insertarArticuloS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarArticuloSResponse" message="tns:insertarArticuloSResponse"/>
</operation>
<operation name="insertarCobradorS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarCobradorSRequest" message="tns:insertarCobradorS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarCobradorSResponse" message="tns:insertarCobradorSResponse"/>
</operation>
<operation name="actualizarFormaPagoS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarFormaPagoSRequest" message="tns:actualizarFormaPagoS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarFormaPagoSResponse" message="tns:actualizarFormaPagoSResponse"/>
</operation>
<operation name="eliminarCabeceraFacturaS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarCabeceraFacturaSRequest" message="tns:eliminarCabeceraFacturaS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarCabeceraFacturaSResponse" message="tns:eliminarCabeceraFacturaSResponse"/>
</operation>
<operation name="actualizarCobradorS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarCobradorSRequest" message="tns:actualizarCobradorS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarCobradorSResponse" message="tns:actualizarCobradorSResponse"/>
</operation>
<operation name="eliminarDetalleFacturacxcS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarDetalleFacturacxcSRequest" message="tns:eliminarDetalleFacturacxcS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarDetalleFacturacxcSResponse" message="tns:eliminarDetalleFacturacxcSResponse"/>
</operation>
<operation name="actualizarCabeceraFacturaS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarCabeceraFacturaSRequest" message="tns:actualizarCabeceraFacturaS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarCabeceraFacturaSResponse" message="tns:actualizarCabeceraFacturaSResponse"/>
</operation>
<operation name="actualizarArticuloS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarArticuloSRequest" message="tns:actualizarArticuloS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/actualizarArticuloSResponse" message="tns:actualizarArticuloSResponse"/>
</operation>
<operation name="insertarFormaPagoS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarFormaPagoSRequest" message="tns:insertarFormaPagoS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarFormaPagoSResponse" message="tns:insertarFormaPagoSResponse"/>
</operation>
<operation name="eliminarCobradorS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarCobradorSRequest" message="tns:eliminarCobradorS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/eliminarCobradorSResponse" message="tns:eliminarCobradorSResponse"/>
</operation>
<operation name="insertarMovimientoS">
<input wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarMovimientoSRequest" message="tns:insertarMovimientoS"/>
<output wsam:Action="http://Servicios.prj_grupo3_server/ServicioServer/insertarMovimientoSResponse" message="tns:insertarMovimientoSResponse"/>
</operation>
</portType>
<binding name="ServicioServerPortBinding" type="tns:ServicioServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="agregarPagaS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarFacturaS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCiudadS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFacturasS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarCiudadS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarFormaPagoS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCobradorS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarArticuloS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarProductoS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarClienteS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearUsuarioS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCiudadS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFormaPagoS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarArticuloSN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearFacturaS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarClienteS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarArticuloS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCiudadS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCobradorS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SingIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarClienteS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarClienteS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearDetalleFacturaS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarDetalleFacturaS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCabeceraFacturaPorRucS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearDetalleFacturacxcS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarDetalleFacturacxcS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarCiudadS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarDetalleFacturaS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarMovimientoS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarMovimientoSN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarArticuloS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarMovimientoS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarMovimientoS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarMovimientoS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCabeceraFacturaS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarClienteS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearCabeceraFacturaS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarFormaPagoS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarArticuloS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarCobradorS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarFormaPagoS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCabeceraFacturaS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarCobradorS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarDetalleFacturacxcS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarCabeceraFacturaS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarArticuloS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarFormaPagoS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCobradorS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarMovimientoS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servicio_web_servidor">
<port name="ServicioServerPort" binding="tns:ServicioServerPortBinding">
<soap:address location="http://localhost:8080/prj_grupo3_server/servicio_web_servidor"/>
</port>
</service>
</definitions>